<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>TodoApp</title>
	<link rel="stylesheet" href="destyle.css">
	<link rel="stylesheet" href="style.css">
</head>
<body>

	<img th:src="@{/img/forest.jpg}" alt="森" class="back-image">
	<div class="content-wrapper">

		<header id="showSettingsButton">
			<h1>FetCH₂() TodoList</h1>
		</header>

		<main>

			<div class="hidden">
				<!-- 実際にth:eachを使ってtaskが入るところ -->
				<ul id="actualUndoneList">
					<li th:each="todo : ${todos}">
						<input type="hidden" name="id" th:value="${todo.id}" />
						<input type="checkbox" name="done_flg" th:value="${todo.done_flg}" />
						<input type="text" name="title" th:value="${todo.title}" />
						<input type="datetime-local" name="time_limit" th:value="${todo.time_limit}" />
					</li>
				</ul>
				<!-- 実際にth:eachを使ってtaskが入るところ -->
				<ul id="actualDoneList">
					<li th:each="todo : ${doneTodos}">
						<input type="hidden" name="id" th:value="${todo.id}" />
						<input type="checkbox" name="done_flg" th:value="${todo.done_flg}" />
						<input type="text" name="title" th:value="${todo.title}" />
						<input type="datetime-local" name="time_limit" th:value="${todo.time_limit}" />
					</li>
				</ul>
			</div>

			<div class="todo-container">

				<div class="container-controller animation-button-container">
					<button id="showUndoneList">未完了のタスクを表示</button>
					<button id="showDoneList">完了済みのタスクを表示</button>
				</div>

				<div class="container-wrapper" id="undoneWrapper">
					<section class="list-container">
						<h3><span class="js-calender-date"></span>の未完了のマイタスク</h3>
						<ul class="task-list" id="undoneListDisplayer">

						</ul>
						<button class="list-container-bottom-button" id="addTaskButton">タスクを追加</button>
					</section>
				</div>

				<div class="container-wrapper" id="doneWrapper">
					<section class="list-container">
						<h3><span class="js-calender-date"></span>の完了済みタスク</h3>
						<ul class="task-list" id="doneListDisplayer">

						</ul>
						<form method="post" th:action="@{/delete}">
							<input type="submit" class="list-container-bottom-button" value="完了済みを削除" />
						</form>
					</section>
				</div>

			</div>

			<div class="calender-sticky-parent">
				<section class="calender-container">
					<div class="calender-controller-button-container animation-button-container">
						<button id="setCalenderLastMonth">先月</button>
						<button id="setCalenderNextMonth">翌月</button>
					</div>
					<div id="dynamicCalender"></div>
				</section>
			</div>

		</main>

		<div class="popup-container" id="popupContainer">
			<div class="popup-back" id="popupBack"></div>
			<div class="popup" id="todoPopup">
				<h2 class="popup-title" id="popupTitle">タスクを追加</h2>
				<form th:action="@{/update}" method="post" class="popup-form" id="popupForm">
					<div>
						<h3>タスクの名前</h3>
						<input type="text" name="title" placeholder="タスクの名前" required />
					</div>

					<div>
						<label for="done_flg">タスクが終わったかどうか</label>
						<br>
						<input type="checkbox" name="done_flg" id="done_flg"/>
					</div>

					<div>
						<h3>タスクをいつまでに終わらせるか</h3>
						<small>カレンダーのアイコンをクリックして詳細に編集します</small>
						<input type="datetime-local" name="time_limit" required />
					</div>

					<div>
						<input type="submit" value="更新">
					</div>

					<input type="hidden" name="id" />
				</form>
			</div>
		</div>
	</div>

	<script src="script.js"></script>
</body>
</html>
